.contenedorHome {
  width: 100vw;
  background-color: rgb(110, 53, 154);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.cerrarSesion {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.secciones {
  width: 95%;
  height: calc(100% - 90px);
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pedido {
  width: 98%;
  height: 48%;
  background-color: rgb(180, 137, 213);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.pedido p {
  margin: 0;
}

.pedido a {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pedido i {
  font-size: 40px;
  text-align: center;
}
