.contenedorHome {
  width: 100vw;
  max-height: 100vh;
  /* background-color: rgb(110, 53, 154); */
  /* background-color: #1a1c20; */
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.secciones {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  /* background-color: #fff; */
  /* background-color: rgb(110, 53, 154); */
  /* border: 1px solid rgb(110, 53, 154); */
  /* margin-top: 10px; */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1 !important;
}

.secciones::-webkit-scrollbar {
  width: 0;
}

.contenedorTituloProducto {
  /* border-radius: 5px !important; */
  margin-bottom: 10px;
  padding: 1px;
  /* border: 1px solid rgb(110, 53, 154) !important; */
  /* border: 1px solid #f0a500 !important; */
}

.accordion-button:focus {
  box-shadow: none !important;
}

.contenedorTituloYPrecio {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding-left: 10px;
}

.accordion-button.collapsed {
  padding: 0 !important;
  background-color: #ffffff !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #ffffff !important;
  padding: 0 !important;
}

.tituloSeccion {
  color: rgb(110, 53, 154) !important;
}

.nombreProducto {
  width: 220px;
  /* font-weight: 700; */
  color: rgb(110, 53, 154) !important;
  /* color: #f0a500 !important; */
}

.precioProducto {
  /* font-weight: 700; */
  color: rgb(110, 53, 154) !important;
  /* color: #f0a500 !important; */
}

.contenedorTituloProducto h2 p {
  margin: 0;
}

.contenedorTituloProducto h2 img {
  width: 50px;
}

.accordion-button::after {
  width: 10px !important;
  background-image: none !important;
}

.accordion-body {
  padding: 10px !important;
}

.contenedorStockProdSinTalleColor {
  width: 100%;
  margin-bottom: 3px;
}

.contenedorTalles {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.talle {
  width: 14%;
  /* background-color: rgb(188, 160, 238); */
  border: 1px solid rgb(110, 53, 154);
  /* color: #fff; */
  color: rgb(110, 53, 154);
  border-radius: 2px;
  text-align: center;
}

.cantidad {
  width: 14%;
  text-align: center;
  color: rgb(114, 114, 114);
  padding-top: 5px;
  font-size: 18px;
}

.btn-agregar {
  width: 100%;
  padding-top: 2px !important;
  margin-top: 10px;
  background-color: rgb(148, 108, 223) !important;
  color: #fff !important;
}

.btn-agregar:focus {
  box-shadow: none !important;
}

.swal2-popup {
  font-family: "Source Sans Pro", sans-serif;
}
