.containerProducto {
  width: 100vw;
  /* background-color: rgb(110, 53, 154); */
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contenedorProducto {
  width: 95%;
  height: calc(100% - 90px);
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: scroll;
}

.cardProducto {
  width: 100%;
  border: 0 !important;
  padding: 0 10px;
}

.cardProducto img {
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cuerpoDetalleProducto {
  width: 100%;
  padding: 0 !important;
}

.contenedorTallesDetalleProducto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.tituloProducto,
.contenedorTalle,
.contenedorColor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloProducto {
  color: rgb(110, 53, 154) !important;
  font-weight: bold;
}

.tituloProducto p {
  margin: 0;
}

.contenedorColor {
  margin-bottom: 10px;
}

.contenedorTalle p,
.contenedorColor p {
  margin: 0;
}

.volverAlHome {
  text-decoration: none;
  color: rgb(110, 53, 154) !important;
}
