.contenedorProductosCarrito {
  width: 100%;
  height: 100%;
}

.contenedorProductoCarrito {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  padding: 7px 0 7px 7px;
  /* border-radius: 5px; */
}

.textoCarritoVacio {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.contenedorImagenCarrito {
  width: 25%;
}

.contenedorImagenCarrito img {
  width: 90%;
}

.productoCarrito {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productoCarrito p {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
}

.tituloProductoCarrito {
  color: rgb(110, 53, 154);
}

.contenedorUnidadesPrecioTotal {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.cantidadEnCarrito,
.precioUnitarioCarrito,
.precioTotalProductoCarrito {
  width: 25%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cantidadEnCarrito p,
.precioUnitarioCarrito p,
.precioTotalProductoCarrito p {
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  font-weight: bold;
}

.precioTotalProductoCarrito {
  font-weight: bold;
}

.eliminarDelCarrito {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.eliminarDelCarrito i {
  color: rgb(238, 13, 13);
}
