.contenedorProductosCarrito {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedorProductoCarrito {
  width: 100%;
  height: 91px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 10px;
  padding: 7px 0 7px 7px;
  /* border-radius: 5px; */
}

.textoCarritoVacio {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.contenedorImagenCarrito {
  width: 25%;
}

.contenedorImagenCarrito img {
  width: 90%;
}

.productoCarrito {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productoCarrito p {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
}

.tituloProductoCarrito {
  color: rgb(110, 53, 154);
}

.contenedorUnidadesPrecioTotal {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.cantidadEnCarrito,
.precioUnitarioCarrito,
.precioTotalProductoCarrito {
  width: 25%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cantidadEnCarrito p,
.precioUnitarioCarrito p,
.precioTotalProductoCarrito p {
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  font-weight: bold;
}

.precioTotalProductoCarrito {
  font-weight: bold;
}

.btn-vaciarCarrito:focus {
  box-shadow: none !important;
}

.eliminarDelCarrito {
  width: 100%;
  height: 100%;
  background-color: rgb(223, 37, 37);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.eliminarDelCarrito i {
  color: #fff !important;
}

.contenedorBotonesPago {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-pago {
  width: 49%;
}

.btn-pago:focus {
  box-shadow: none !important;
}

.btn-mercadopago {
  background-color: rgb(75, 157, 221) !important;
  color: #fff !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.btn-mercadopago img {
  width: 35px;
  margin-right: 10px;
}

.btn-mercadopago p {
  margin: 0;
}

.modal-body img {
  width: 100%;
}

.btn-efectivo,
.btn-pagar-mercadopago {
  background-color: rgb(148, 108, 223) !important;
  color: #fff !important;
}

.qrmercadopago {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrmercadopago h2 {
  font-size: 40px;
  color: rgb(110, 53, 154);
  font-weight: 900;
}

.modal-footer {
  display: flex !important;
  justify-content: center !important;
}

.swal-button:focus {
  box-shadow: none !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swipeable-list {
  width: 100% !important;
  height: 105px !important;
}

.sc-dkPtRN {
  background-color: #fff !important;
}

.sc-dkPtRN button {
  height: 90px !important;
  background-color: rgb(223, 37, 37) !important;
}

.sc-bwzfXH {
  background-color: #fff !important;
}

#delete {
  height: 92px !important;
}

#delete-content {
  background-color: #fff !important;
}

.bzMqVC {
  height: 92px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start !important;
  padding: 0 !important;
}
